h5 {
  text-align: center;
  margin: 0;
}
body {
  text-align: center;
}
.content {
  background: rgb(42, 42, 42);
  border-radius: 7px;
  width: 200px;
  height: 100px;
  margin-inline: 10px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}
.access {
  padding: 5px;
  margin: auto;
  display: list-item;
  margin-top: 20px;
}
