h5 {
  text-align: center;
  margin: 0;
}
.grid {
  text-align: center;
}
.content {
  background: rgb(42, 42, 42);
  border-radius: 7px;
  width: 200px;
  height: 100px;
  margin-inline: 30px;
  padding: 10px;
  display: inline-block;
}
.access {
  margin: auto;
  display: list-item;
  background-color: rgb(164, 164, 164);
  border: none;
  border-radius: 3px;
  padding: 5px;
}
