h5 {
  text-align: center;
  margin: 0;
}
.grid {
  text-align: center;
}
.content {
  background: rgb(42, 42, 42);
  border-radius: 7px;
  width: 200px;
  height: 100px;
  margin-inline: 30px;
  padding: 10px;
  display: inline-block;
}
.access {
  display: list-item;
  background-color: rgb(164, 164, 164);
  border-radius: 3px;
  padding: 5px;
  width: 50px;
  margin: auto;
  margin-top: 15px;
  list-style: none;
  text-decoration: none;
  color: black;
}
.access:active {
  background-color: white;
}
